body {
    padding: 0;
    margin: 0;
    background: url("../img/background.jpg") scroll repeat 50%;
    font-family: "Liberation", Garamond, Verdana, Serif;
}

h3 {
    position: absolute;
    top: 25px;
    right: 260px;
}

.lien {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;

}

.lien-2 {
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.image {
    padding: 10px;
    background-color: black;
    display: block;
    justify-content: center;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(79, 68, 68);
}

.icône {
    display: flex;
    justify-content: center;
}

.trait {
    border-bottom: 2px solid silver;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}